.sendForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 10px;
    margin-top: 10px;
}

.textarea {
    overflow: hidden;
    max-height: 60px;
    resize: none;
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    border-radius: 15px;
    background-color: #f5f7fb;
    padding: 10px;
}

.textarea:focus {
    outline: 1px solid #aec6dd;
}

.button {
    padding: 10px;
    border-radius: 25px;
    width: 100px;
    border: none;
    color: white;
    background-color: #0066cc;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 128, 255, 1);
}

.button:active {
    background-color: rgba(0, 89, 178, 1);
}
