.select {
    max-width: 165px;
    height: 24px;
    border: 1px rgba(194, 194, 194, 1) solid;
    border-radius: 2px;
}

.select:focus {
    outline: 1px rgba(194, 194, 194, 1) solid;
}

.option:hover {
    background-color: rgba(194, 194, 194, 1);
}
